<div class="row">
  <div class="col-md-12">
     <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
    <hr>
    <p><i class="far fa-eye"></i> Views: {{restaurant.viewCounts}}</p>
    <p><i class="far fa-comments"></i> Comments: {{restaurant.Comments.length}}</p>
    <p><i class="fas fa-heart"></i> Favorite Counts: {{restaurant.FavoritedUsers.length}}</p>
    <p><i class="fas fa-thumbs-up"></i> Thumbs-Up Counts: {{restaurant.UsersLiked.length}}</p>

  </div>

</div>