<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link" href="/restaurants">首頁</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/restaurants/feeds">最新動態</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/restaurants/top">TOP10 人氣餐廳</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/users/top">美食達人</a>
  </li>
</ul>

<h4>最新動態</h4>
<hr />
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新餐廳
      </div>
      <div class="card-body">
        {{#each restaurants}}
        <div>
          <h6>
            <a class="text-decoration-none" href="/restaurants/{{this.id}}">{{this.name}}</a>
            <small class="badge bg-secondary">{{this.Category.name}}</small>
          </h6>
          <p>{{this.description}}</p>
          <span class="text-muted"> {{moment this.createdAt}} </span>
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        最新評論
      </div>
      <div class="card-body">
        {{#each comments}}
        <div>
          <h6>
            <a class="text-decoration-none" href="/restaurants/{{this.Restaurant.id}}">{{this.Restaurant.name}}</a>
          </h6>
          <p>{{this.text}}</p>
          <span class="text-muted"> by <a class="text-decoration-none"
              href="/users/{{this.User.id}}">{{this.User.name}}</a>
            at {{moment this.createdAt}} </span>
          <hr>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>