<div class="card" style="max-width: auto;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{user.image}}" class="rounded img-fluid" alt="Avatar"
        style="width: 300px; height: 300px; object-fit: cover;">
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p> {{user.Comments.length}} 筆餐廳評論</p>
        {{#ifCond user.id self}}
        <a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">Edit</a>
        {{/ifCond}}
      </div>
    </div>
  </div>
</div>

<div class="card text-start mt-4">
  <div class="card-header">
    {{user.Comments.length}} 筆餐廳評論
  </div>
  <div class="card-body row d-flex justify-content-around">

    {{#each user.Comments}}
    <div class="card col-4 col-sm-3 mb-2 mr-3" style="width: 10rem;">
      <a href="/restaurants/{{this.Restaurant.id}}" class="text-decoration-none" data-bs-toggle="tooltip" title="{{this.Restaurant.name}}">
        <div class="card-body py-1 px-1 text-center">
          <img src="{{this.Restaurant.image}}" class="rounded img-fluid" style="object-fit: cover;">
        </div>
      </a>
    </div>
    {{/each}}

  </div>
</div>